/*Background stuff*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


.lang_wrap h1{
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #ffffff ;
  z-index: 20;
  position: absolute;
}

.lang_wrap img{
  width: 30px;
  height: 30px;
}

.lang_wrap .hrdiv{
  border: 1px solid white;
  border-radius: 2px;
  position: absolute;
  z-index: 20;
  width: 25%;
}

.lang_wrap .table{
  position: absolute;
  z-index: 20;
  font-size: 22px;
}

.lang_wrap{
  font-family: 'IBM Plex Sans';
  line-height: 150%;
  font-size: 22px;
  min-height: 180px;
  min-width:384px;
  padding: 0px;
}

.lovelangReplace {
  font-weight: 300;
}

.lang_wrap #form{
  position: relative;
  z-index: 20;
  align-self: center;
  margin-left: 0%;
}

/*.lang_wrap #languageSubmit{
  position: relative;
  z-index: 20;
  font-family: 'IBM Plex Sans';
  font-size: 24px;
}
*/

.lang_wrap .box{
  margin-top: 10%;
  position: relative;
  z-index: 20;
  margin-left: 41.5%;
  font-family: 'IBM Plex Sans';
  font-size: 48px;

}

.lang_wrap #name_submit_button {
  background-color: #C71585;
  border: none;
  color: #ffffff;
  padding: 1px 2px;
  text-align: center;
  width: 60px;
  height: 30px;
  text-decoration: bold;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.lang_wrap #name_submit_button:hover{
  box-shadow: 0 12px 16px 0 rgba(255,104,180,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #ffffff;
  color: black;
  border: 2px solid #ff69b4;
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 21;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
